<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc">
    <output-path>F:/develop-install/tomcat/apache-tomcat-7.0.22/webapps/springmvc</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc/web/Web" />
    </root>
  </artifact>
</component>